* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    color: #333;
    text-align: center;
    margin: 0%;
}
.header-container {
    display: flex;
    flex-direction: row;  
    flex-wrap: nowrap;
    height:16ex;
    background-color: #003049; 
  }
.logo img{
    top: 1ex;
    left: 1ex;
    height:12ex;
}
.language-help {
    display: flex; 
    justify-content: center;
    align-items: center;
    width: 50%;
    align-self: center;
    column-gap:10%;
}
.language-help select {
    border-radius: 5px;
    border: none;
    background-color: #fff;
    color: #333;
    height: 5ex;
} 
.language-help a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 5ex;
    padding: 2% ; 
}

.auth-links{
    align-items: center;
    justify-self: center;
    display: flex;
    justify-content: center;
    column-gap:10%;
    padding: 5% 2%;
    width: 100%;
}
.auth-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
    height: 5ex;
    width:15ex ;
    border: 2px solid white;
    border-radius: 6px;
    align-content: center;
    transition: background-color 0.3s, color 0.3s;
}

.auth-links a:hover {
    background-color: white;
    color: #1a143b;
}
.welcome-text {
    padding: 4ex;
    width: 100%;
    color: #73accf;
}

.moving-text {
    display: inline-block;
    white-space: nowrap;
    font-size: 24px;
    font-weight: bold;
    color: #003049;
    animation: moveText 10s linear infinite;
}


@keyframes moveText {
    from {
        transform: translateX(50%);
    }
    to {
        transform: translateX(-50%);
    }
}

.aide a {
    border: 1px solid black;
}

.welcome-text {
    padding: 0 4ex;
    background-color: #f5eaea;
}

.welcome-text h1 {
    font-size: 36px;
}

.welcome-text p {
    font-size: 18px;
    margin-top: 2ex;
}

main {
    padding: 5ex ;
    background-color: #2e7987;
}

.content-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 10%;
    column-gap: 10%;
    align-items: center;
    background-color: #2e7987;
}

.content-container button a{
    text-decoration: none;
    color: #fff;
}
.content-container button a:active{
    color: #0a3c8e;
}
.content-item {
    text-align: center;
    width: 40ex;
    height: 40ex;
    padding: 5ex;
    background-color: #f5eaea;
    border-radius: 6px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}
.content-item img{
    margin-top: 5%;
    height: 60%;
    width: 100%;
    border-radius: 6px;
}
.content-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
}
.content-item h1 {
    color: #73accf;
    margin-bottom: 15px;
}
.content-item button {
    margin-top: 4%;
    padding: 2ex;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    background-color: #05ccc6;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
@media (max-width: 768px) {
    body {
        font-size: 16px;
    }
    .logo img{
        position: absolute;
    }
    .auth-links{
        padding-left: 20ex;
    }
    .header-container{
        flex-direction: column;
        height: 20%;
    }
    .content-container{
        flex-direction: column;
        row-gap: 5ex;
    }
    .language-help {
        margin-left: 35%;
    }
}

.footer {
    padding: 200px;
    background-color: #333;
}
